<section id="popup" style="padding: 1rem; border-radius: 8px; max-height: 60vh; 
                           overflow: auto; margin: 7rem; box-shadow: 0 2px 12px rgba(0,0,0,0.3); position: relative;"                  >
    <div style="display: flex; align-items: stretch;">
        <button style="position: absolute; top: 1rem; right: 1rem; background: none; border: none; font-size: 1.5rem; cursor: pointer; color: black;
                        z-index: 10;"
                aria-label="Close popup" 
                (click)="closePopup()" >✖
        </button>
        <article style="padding: 1rem" 
                 role="region" 
                 aria-labelledby="user-card-title">
            <div style="display: flex; align-items: center;">
                <img src="{{imagePath}}" 
                     alt="Profile picture of {{ name }}" 
                     style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); margin-right: 1rem;"/>
                <div style="display: flex; flex-direction: column;">
                    <h3 style="margin: 0; font-size: 1.25rem; font-weight: 600;" id="user-card-title">{{ name }}</h3>
                    <p style="margin: 0; font-size: 1rem; color: black; font-weight: 400;">{{ role }}</p>
                    <p style="margin: 0; font-size: 0.875rem; color: grey; font-weight: 400;">{{ company }}</p>
                    <div style="display: flex; justify-content: flex-start; gap: 0.5rem; margin-top: 0.5rem;">
                        <img src="assets/drupal.png" alt="Drupal Logo" style="width: 15px; height: auto; max-width: 100%;" />
                        <img src="assets/x.png" alt="X Logo" style="width: 15px; height: auto; max-width: 100%;" />
                        <img src="assets/linkedin.png" alt="LinkedIn Logo" style="width: 15px; height: auto; max-width: 100%;" />
                    </div>
                </div>
            </div>
        </article>

        <div style="width: 1px; background-color: gray; margin: 0 1rem;" 
             role="separator"></div>

        <p style="margin: 2rem 0 0 0; font-family: lora; font-size: 1.275rem; color: black; line-height:1.5; padding: 1rem 0; width: 100%;">
            {{ summary }}
        </p>
    </div>
</section>