#popup {
  padding: 1rem;
  border-radius: 8px;
  max-height: 60vh;
  overflow: auto;
  margin: 7rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  position: relative; 

  .popup-container {
    display: flex;
    align-items: stretch;


  }

  .close-button {
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    background: none;
    border: none; 
    font-size: 1.5rem; 
    cursor: pointer; 
    color: black;
    z-index: 10; 
  }

  .user-cards {
    &__card {
      padding: 1rem;

      .user-cards__content {
        display: flex; 
        align-items: center; 

        .user-cards__image {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
          margin-right: 1rem; 
        }

        .user-cards__info {
          display: flex;
          flex-direction: column; 

          .user-cards__name {
            margin: 0;
            font-size: 1.25rem;
            font-weight: 600;
          }

          .user-cards__role,
          .user-cards__company {
            margin: 0;
            font-size: 0.875rem;
            color: grey;
            font-weight: 400;
          }

          .user-cards__role {
            font-size: 1rem; 
            color: black;
          }
        }
      }
    }
  }

  .user-cards__summary {
    margin: 2rem 0 0 0; 
    font-family: lora;
    font-size: 1.275rem; 
    color: black; 
    line-height: 1.5; 
    padding: 1rem 0; 
    width: 100%; 
  }

  .separator {
    width: 1px;
    background-color: gray;
    margin: 0 1rem;
  }

  .logo-container {
    display: flex; 
    justify-content: flex-start; 
    gap: 0.5rem; 
    margin-top: 0.5rem; 

    .logo {
        width: 15px; 
        height: auto; 
        max-width: 100%; 
    }
}

}
